$(".flash_message").html("<%= escape_javascript(render :partial => 'shared/flash_messages') %>");
$('#model_box').modal('hide');
$('#job_comment').val('');
$('#job_tag').val('');
$('<p id="counter">You have 150 characters remaining</p>').replaceAll('#counter');
